
db
build
temp
.env
*.env
package-lock.json
aws.yml

config.json

memory

**/docs/*
!**/docs/config/
!**/docs/swagger.json

.idea/

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

Session.vim

.netrwhist
*~

tags

*.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.fuse_hidden*

.directory

.Trash-*

logs
*.log
npm-debug.log*

pids
*.pid
*.seed

lib-cov

coverage

.nyc_output

.grunt

.lock-wscript

build/Release


node_modules
jspm_packages


.npm

.node_repl_history

